.header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 30px;
    padding: 16px 32px;
    color: #787880;
    font-size: 18px;
    align-items: center;

    @media (max-width: 1024px) {
        grid-template-columns: 1fr 1fr 1fr 1fr 30px; 
        gap: 10px; 
    }

    @media (max-width: 650px) {
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(5, auto); 
        gap: 10px;
        padding: 12px 16px;
        font-size: 14px;
        text-align: left;
    }

    @media (max-width: 685px) {
        display: none;
    }
}

.acoesHeader {
    text-align: center;

    @media (max-width: 650px) {
        text-align: left;
    }
}
